{% if show_cookie_banner %}
<div id="cookie-banner" style="position: fixed; bottom: 0; width: 100%; background-color: #f1f1f1; padding: 20px; text-align: center;">
    <form method="post" action="{% url 'set_cookie_consent' %}">
        {% csrf_token %}
        <p>Dear user,</p>
        <p>Our capacity to keep Minitwit up and running crucially depends on our advertisers.</p>
        <p>We kindly ask you for your permission to use your data to show you ads that matches your interests and needs.</p>
        <p>By clicking "Accept", you actively contribute to supporting Minitwit's development team.</p>
        <button type="submit" name="accept" value="true">Accept</button>
        <button type="submit" name="decline" value="true">Decline</button>
        <input type="hidden" name="next" value="{{ request.path }}">
    </form>
</div>
{% endif %}
