*.pyc
env/
__pycache__/
log
db.sqlite3
logs/
output/
*~
migrations/
logs/
.DS_Store
.venv
.vscode

gdprfs.db
gdprfs/gdprfstrace.log
external_consent_platform/instance/external_consent_platform.db
internal_purpose_platform/instance/internal_purpose_platform.db
instrlib/instrument.py
external_consent_platform/signup&login_credentials.txt
gdprfs/myfs_for_internal.py

/home/ann20010929/gdprfs-venv/.env
.env
*.env
gdprfs/test_files/